.app-launch-container {
  display: flex;
  margin: auto;
  max-width: 400px;
}

.title-paper {
  margin-top: 50px;
  margin-bottom: 15px;
  text-align: center;
}

.username-paper{
  padding: 10px;
  width: 80%;
  margin: auto;
}

.username-input {
  width: 100%;
  margin: auto;
  text-align: center;
}

.connect-container{
  padding: 20px;
}

.launch-screen-connect-button{
  width: 100%;
}

.loadingBox{
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
  max-width: 400px;
  padding: 20px;
  margin-top: 100px;
  }


  
.heart {
  width: 50px;
  height: 50px;
  background-color: #e74c3c;
  position: absolute;
  bottom: 0;
  animation: floatUp 5s ease-in-out, fadeIn 2s ease-in-out;
}

@keyframes floatUp {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-100vh);
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}