.chart-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.chart-title{
    margin-bottom: -40px;
    text-align: center;
    
}

.custom-tooltip{
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
}

.custom-tooltip p{
    padding: 3px;
    margin: 0px;
}